@use 'base/variables' as v;

.acciones{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    &--centrar{
        @extend .acciones;
        justify-content: center;
    
    }

    &__enlace{
        color: v.$azul;
        font-size: 1.4rem;
        font-weight: v.$regular;     
    }
}