@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion{

    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
    }
    &__enlace{
        color: black;   
        font-size: 1.8rem;
        padding: 1.5rem;
        font-weight: v.$black;
        text-align: center;

        &--actual,
        &:hover{
            background-color: v.$blanco;
            color: v.$amarilloclaro;
        }    
    }
}
