@use 'base/mixins' as m;
@use 'base/variables' as v;


.empresas {
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);
        
        @include m.tablet {
            @include m.grid(2, 5rem);
        }

        @include m.xl_desktop {
            @include m.grid(3, 5rem);
            align-items: flex-start;
        }
    }
}

.empresa {
    @include m.card;
    position: relative;
    border-radius: 1rem;
    overflow: hidden; // Para que el contenido no se desborde al utilizar posición absoluta
    transition: transform 0.5s ease, filter 0.5s ease; // Transiciones para el efecto hover

    &__imagen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        z-index: -1;
        filter: brightness(0.95); // Reducir el brillo para que el texto sea más legible
        transition: transform 0.5s ease; // Transición para el efecto hover
    }

    &__contenido {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 2rem;
        color: white; // Letras blancas
        transition: opacity 0.5s ease; // Transición para el efecto hover

        &__ubicacion {
            font-size: 2rem;
            line-height: 1.5;
            margin: 0;
        }
    }

    &:hover {
        transform: scale(1.05); // Escalar ligeramente en hover
        filter: brightness(0.9); // Aumentar el brillo en hover
    }

    &:hover .empresa__imagen {
        transform: scale(1.1); // Escalar ligeramente en hover
    }

    &:hover .empresa__contenido {
        opacity: 0.9; // Reducir la opacidad en hover
    }
}