.mapa {
    height:40rem;
    margin-top: 4rem;    

    &__heading{
        margin: 0;
        text-align: left;
        font-size: 2rem;
    }

    &__texto{
        font-size: 1.6rem;
        margin: 0;
    }
}