// Fuentes
$fuente-principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul: #007df4;
$azul-claro: #00a8ff;
$azul-oscuro: #005c9e;

// amarillo oscuro

$amarillooscuro: #f7a733;
// amarrilllo claro
$amarilloclaro: #f7d733;
$amarillo: #f7b733;
$secundario: #00c8c2;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900