
@use 'base/mixins' as m;
@use 'base/variables' as v;


.recomendacion {
    &.contenedor {
        max-width: 1200px;
        margin: 0 auto;
    }


    &__grid{
        @include m.contenedor;
        @include m.grid(2, 3rem);
        @include m.tablet{
            display: grid;
            grid-template-columns: 1fr 3fr 2fr;
            gap: 20px;
        }
    }
    
    .resultados {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;

        &__subheading {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .recomendacion__texto {
            margin-bottom: 20px;
        }

        .swiper {
            .swiper-wrapper {
                display: flex;
                gap: 20px;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
            }

            .evento {
                background-color: #fff;
                padding: 10px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                flex: 1 1 auto;
                transition: all 0.3s ease;

                &__nombre {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                &__introduccion {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                &__imagen-autor {
                    border-radius: 4px;
                    width: 100%;
                    height: auto;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

// solo recomnedacion de actividades


.recomendacion__texto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.recomendacion__actividad {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.recomendacion__actividad:hover {
    transform: translateY(-5px);
}

.recomendacion__subheading {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.actividad__nombre {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.actividad__descripcion {
    color: #555;
    margin-bottom: 10px;
}

.preferencia ul {
    list-style: none;
    padding: 0;
}

.preferencia ul li {
    margin-bottom: 5px;
}

.actividad__similitud {
    font-style: italic;
    color: #777;
}