@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda{
    

    @include m.contenedor;

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, 5vw, 5rem); // Responsive font size
    }

    &__description {
        color: v.$gris;
        margin: 2rem 0;
        text-align: left;
        font-size: clamp(1rem, 2vw, 1.5rem); // Responsive font size
    
    }


    &__button{
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s;
        &:hover{
            background-color: v.$azul-claro;
        }
    }
    &__input{
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 20px;
        font-size: 16px;
        outline: none;
    }



}


.sitios{
    &__grid {
        @include m.contenedor;
        @include m.grid(1,5rem);
        @include m.tablet {
            @include m.grid(2,5rem);
        }
        @include m.xl_desktop{
            @include m.grid(4,5rem);
            align-items: flex-start;
        }
    }

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, 5vw, 5rem); // Responsive font size
    }
}





